.twitter-cluster {
	background-color: rgba(10, 118, 190, 0.30);
    z-index: 10000 !important;
	}
.twitter-cluster div {
	background-color: rgba(10, 118, 190, 0.60);

	}
.twitter-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.twitter-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.twitter-cluster span {
	line-height: 30px;
	}